
<!DOCTYPE html>
<html>
   <head>
      <title>Amazon Home</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <style>
		#panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
	  </style>
   </head>
   <body>
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
			<div class="container-fluid" style="color:white">
               <a href=""><img src="http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743" alt="Amazon logo"> </a>
			   Already an TheBookShelf customer? <a href="#" style="color:white"><u>Sign in</u></a>
			</div>
		</nav>
		<br><br/><br/>
		 
		<div class="row">
			<div class="col-sm-9">
				<div class="row">
					<div class="dropdown col-sm-3" style="padding-left:15px">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:#484848; margin-left:10px">Shop <span class="caret"></span></button>
						<ul class="dropdown-menu">
		
      <li><a href="#"><strong>History</strong><br>It all started here</a></li><br>
         <li><a href="#"><strong>Romance</strong><br>All about love</a></li><br>
      <li><a href="#"><strong>Suspence</strong><br>Secrets to be found</a></li><br>
            <li><a href="#"><strong>Travel</strong><br>It could be your guide</a></li> 	<br>
                  <li><a href="#"><strong>Others</strong><br>All stuff</a></li>				</ul>
					</div>
					<div class="input-group col-sm-9">
						<input type="text" class="form-control" placeholder="Search TheBookShelf" ng-model="search" aria-describedby="basic-addon1" style="height:50px">
						<span class="input-group-addon" id="basic-addon1" style="background-color:#484848">
							<button type="button" class="btn btn-default" style="color:white;background-color:#484848">Go</button>
						</span>
					</div>
				</div>
				<div class="row">
					<br/>
					<div class="container col-sm-9" style="margin-left:10px">
						<style>
						.carousel-inner > .item > img,
						.carousel-inner > .item > a > img {
						width: 100%;
						margin: auto;
						right-padding: 0px;
						}
						</style>
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
								<li data-target="#myCarousel" data-slide-to="3"></li>
							</ol>
						<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox" id="slides">
								<div class="item active">
									<img src="http://www.uglydogbooks.com/wp-content/uploads/2014/04/books.jpg" alt="Chania" width="60" height="45">
								</div>
								<div class="item">
									<img src="http://images.clipartpanda.com/books-20clipart-books-for-clip-art-9.jpg" alt="Chania" width="60" height="45">
								</div>
								<div class="item">
									<img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Urval_av_de_bocker_som_har_vunnit_Nordiska_radets_litteraturpris_under_de_50_ar_som_priset_funnits_(2).jpg" alt="Flower" width="60" height="45">
								</div>
								<div class="item">
									<img src="http://homekeyorganization.com/wp-content/uploads/2013/01/Colorful-books.jpg" alt="Flower" width="60px" height="45">
								</div>
							</div>
						<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>

			
				<h4 style="margin-left:15px"><br/>Browse Categories</h4>
				<div class="row">
					<div class="col-sm-3" style="margin-left:10px">
						<div class="panel panel-default">
							<div class="panel-heading" style="margin:0; background-image:url(http://thumbs.ebaystatic.com/images/m/mDnvv6WXglBLKES67NGiV9Q/s-l225.jpg)">
								<br/><br/><br/><br/><br/>
							</div>
							<div class="panel-body">
								<a href="" style="color:grey">History >></a><br/>
								<a href="" style="color:grey">Mahabharat</a><br/>
								<a href="" style="color:grey">Ashoka</a><br/>
								<a href="" style="color:grey">Gandhi</a><br/>
								<a href="" style="color:grey">Nehruji</a><br/>
								<a href="" style="color:grey">Ramayan</a><br/>
								<a href="">Shop all ></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading" style="margin:0; background-image:url(http://thumbs.ebaystatic.com/images/g/fikAAOSwX~dWpmDo/s-l225.jpg)">
								<br/><br/><br/><br/><br/>
							</div>
							<div class="panel-body">
								<a href="" style="color:grey">Romance >></a><br/>
								<a href="" style="color:grey">Romeo and Juliet</a><br/>
								<a href="" style="color:grey">Heer Ranja</a><br/>
								<a href="" style="color:grey">Laila Majnu</a><br/>
								<a href="" style="color:grey">51st Dates</a><br/>
								<a href="" style="color:grey">Titanic</a><br/>
								<a href="" >Shop all ></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading" style="margin:0; background-image:url(http://thumbs.ebaystatic.com/images/g/~KsAAOSwyQtV0s5G/s-l225.jpg)">
								<br/><br/><br/><br/><br/>
							</div>
							<div class="panel-body">
								<a href="" style="color:grey">Suspence >></a><br/>
								<a href="" style="color:grey">Sherlock Holmes</a><br/>
								<a href="" style="color:grey">C.I.D</a><br/>
								<a href="" style="color:grey">Detective Karan</a><br/>
								<a href="" style="color:grey">It has all</a><br/>
								<a href="" style="color:grey">Person of Interest</a><br/>
								<a href="">Shop all ></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3" style="margin-left:10px">
						<div class="panel panel-default">
							<div class="panel-heading" style="margin:0; background-image:url(http://thumbs.ebaystatic.com/images/m/m50x13v5FQYp20UWZEAge2A/s-l225.jpg)">
								<br/><br/><br/><br/><br/>
							</div>
							<div class="panel-body">
								<a href="" style="color:grey">Travel >></a><br/>
								<a href="" style="color:grey">London</a><br/>
								<a href="" style="color:grey">Paris</a><br/>
								<a href="" style="color:grey">Okland</a><br/>
								<a href="" style="color:grey">New Zealand</a><br/>
								<a href="" style="color:grey">India</a><br/>
								<a href="">Shop all ></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading" style="margin:0; background-image:url(http://thumbs.ebaystatic.com/images/g/TjIAAOSwQYZWusWN/s-l225.jpg)">
								<br/><br/><br/><br/><br/>
							</div>
							<div class="panel-body">
								<a href="" style="color:grey">Others >></a><br/>
								<a href="" style="color:grey">Tom n Jerry</a><br/>
								<a href="" style="color:grey">Cindrella</a><br/>
								<a href="" style="color:grey">Object Oriented language</a><br/>
								<a href="" style="color:grey">Digital Desgin</a><br/>
								<a href="" style="color:grey">Donut</a><br/>
								<a href="">Shop all ></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="panel-body" style="background-color:#333333;padding-left:40px">
				<div class="row">
					<div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
					<div class="col-sm-10" style="color:white"> About<br>Carriers</div>
				</div>
				<div style="color:white">
				<br/> &copy 2007-2016 TheBookShelf, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
				</div>
			</div>
		</div>
		
<div style="background-color: white;" ng-app="CustomerApp" ng-controller="CustomerController">
<input type="button" value="View Profile" ng-click="viewProfile()">
</div>
   </body>
</html>