
<!DOCTYPE html>
<html>
   <head>
      <title>Amazon Fresh Login</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </head>
   <body>
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
			<div class="container-fluid">
               <a href=""><img src="http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743" alt="Amazon logo"></a>
			</div>
		</nav>
	    <br/><br/>
		<div class="col-sm-4"></div>
		<div class="col-sm-3" style="text-align:left">
			<form method="POST" action="/checklogin">
				<h4><br/><br/><b>Sign In</b><br/><br/></h4>
				E-mail or mobile number
				<input type="email" class="form-control" name="email">
				<br/>
				Password
				<input type="password" class="form-control" name="password">
				<span class="pull-right"><a href="" style="color:#4d9900"><u><small>Forgot password?</small></u></a></span>
				<br/><br/>
				<button type="submit" class="form-control" style="background-color:rgb(204, 255, 153); color:black">Sign In</button>
			</form>
			</br>
			<p>New TheBookShelf.com customer? <a href=""><u>Create a new TheBookShelf account</u></a> </p>
			</br></br>
			<center><small><a href="" style="color:#4d9900"><u>Conditions of Use</u></a>  <a href="" style="color:#4d9900"><u>Privacy Notice</u></a></small></center>
			<p><small>&copy 1996-2016, TheBookShelf.com, Inc. or its affiliates</small></p>
			<br/><br/><br/><br/>
		</div>
		<div class="col-sm-5"></div>
   </body>
</html>