<html>
<head>Order Summary</head>
<body>
<br>Customer Name<br>
<table id="checkout-cart" table border="1" style="width:100%" class="shopping-cart">
	<thead>
		<tr>
			<td scope="col">Order ID</td>
			<th scope="col">Amount</th>
			<th scope="col">Order List</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>