<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/book.js"></script>

</head>
<body ng-app="search_book" ng-controller="search_book">
	<div class="row">
		<div class="col-md-12">
			<div class="row">


				<select type="text" ng-model="searchBy">
					<option value="Category" selected="selected">Category</option>
					<option value="Author">Author</option>
					<option value="Title">Title</option>
				</select> 
				<select name="category" ng-model="searchValue" ng-show="searchBy=='Category'" >
					<option value="Science">Science</option>
					<option value="Fiction">Fiction</option>
					<option value="Literature">Literature</option>
					<option value="Biography">Biography</option>
					<option value="Computer">Computer</option>


				</select> <input id="myinput" type="text" ng-model="searchValue"
					ng-hide="searchBy=='Category'" /> <input type="submit"
					class="btn btn-success" ng-click="submit();" value="Go" />

			</div>
						<div class="row">
				<div class="col-md-4" style="margin: 10px;">
					<table class="table table-bordered">
						<tr ng-repeat="row in rows" ng-if="$even">



							<td><img height="150px" width="100px" alt=""
								src="images/{{row.doc.book_image}}"></td>
							<td>
								<table>
									<tr>
										<td>Name:</td>
										<td>{{row.doc.book_name}}</td>
									</tr>
									<tr>
										<td>Description:</td>
										<td>{{row.doc.book_description}}</td>
									</tr>
									<tr>
										<td>Price:</td>
										<td>{{row.doc.book_price}}</td>
									</tr>
									<tr>
										<td>Category:</td>
										<td>{{row.doc.book_category}}</td>
									</tr>
									<tr>
										<td>Author:</td>
										<td>{{row.doc.book_author}}</td>
									</tr>
									
								</table>
								<button class="btn-link">Add to cart</button>
							</td>
							





						</tr>
					</table>
				</div>
				<div class="col-md-4" style="margin: 10px;">
					<table class="table table-bordered">
						<tr ng-repeat="row in rows" ng-if="$odd">



							<td><img height="150px" width="100px" alt=""
								src="images/{{row.doc.book_image}}"></td>
							<td>
								<table>
									<tr>
										<td>Name:</td>
										<td>{{row.doc.book_name}}</td>
									</tr>
									<tr>
										<td>Description:</td>
										<td>{{row.doc.book_description}}</td>
									</tr>
									<tr>
										<td>Price:</td>
										<td>{{row.doc.book_price}}</td>
									</tr>
									<tr>
										<td>Category:</td>
										<td>{{row.doc.book_category}}</td>
									</tr>
									<tr>
										<td>Author:</td>
										<td>{{row.doc.book_author}}</td>
									</tr>
								</table>
							</td>






						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>