
<!DOCTYPE html>
<html>
   <head>
      <title>Amazon Fresh SignUp</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <style>
		#panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
	  </style>
   </head>
   <body>
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
			<div class="container-fluid" style="color:white">
               <a href=""><img src="http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743" alt="Amazon logo"> </a>
			   Already an TheBookShelf customer? <a href="#" style="color:white"><u>Sign in</u></a>
			</div>
		</nav>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10" style="text-align:left">
				<div class="panel-body" id="panel">
					<form method="POST" action="/signup">
						<h3>Create New Account</h3>
						<br/>
						<input type="text" placeholder="First Name" name="firstname" size="30" style="padding:5px"><br/><br/>
						<input type="text" placeholder="Last Name" name="lastname" size="30" style="padding:5px"><br/><br/>
						<input type="email" placeholder="E-mail Address" name="email" size="30" style="padding:5px"><br/><br/>
						<input type="password" placeholder="Password" name="pass" size="30" style="padding:5px"><br/><br/>
						<input type="password" placeholder="Verify Password" name="password" size="30" style="padding:5px"><br/></br>
						<input type="text" placeholder="Address" name="address" size="30" style="padding:5px"><br/></br>
						<input type="text" placeholder="Card Number" name="card_no" size="30" style="padding:5px"><br/></br>
						<input type="number" placeholder="CVV" name="cvv" size="30" style="padding:5px"><br/></br>
						<input type="Date" placeholder="Expiry Date" name="expire_date" size="30" style="padding:5px"><br/></br>
						<button type="submit" class="btn" style="color:white; background-color:#808080">Continue</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel-body" style="background-color:#333333;padding-left:40px">
				<div class="row">
					<div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
					<div class="col-sm-10" style="color:white"> About<br>Carriers</div>
				</div>
				<div style="color:white">
				<br/> &copy 2007-2016 TheBookShelf, LLC or its affiliates   All items sold by and ship from TheBookShelf unless otherwise specified.<br/><br/>
				</div>
			</div>
		</div>
   </body>
</html>