
<!DOCTYPE html>
<html>
   <head>
      <title>Amazon Product</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <style>
		#panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
	  </style>
   </head>
   <body>
				<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
			<div class="container-fluid" style="color:white">
               <a href=""><img src="http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743" alt="Amazon logo"> </a>
			   Already an TheBookShelf customer? <a href="#" style="color:white"><u>Sign in</u></a>
			</div>
		</nav>
		<br/><br/><br/>
		<div class="row">
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-3">
						<div class="dropdown" style="padding-left:15px">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:#484848">Shop <span class="caret"></span></button>
							<ul class="dropdown-menu">
		      <li><a href="#"><strong>History</strong><br>It all started here</a></li><br>
         <li><a href="#"><strong>Romance</strong><br>All about love</a></li><br>
      <li><a href="#"><strong>Suspence</strong><br>Secrets to be found</a></li><br>
            <li><a href="#"><strong>Travel</strong><br>It could be your guide</a></li> 	<br>
                  <li><a href="#"><strong>Others</strong><br>All stuff</a></li>						</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search TheBookShlef" ng-model="search" aria-describedby="basic-addon1" style="height:50px">
							<span class="input-group-addon" id="basic-addon1" style="background-color:#484848">
								<button type="button" class="btn btn-default" style="color:white;background-color:#484848">Go</button>
							</span>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-4" style="text-align:center; padding-left:15px">
						<br/><br/><img src="http://thumbs.ebaystatic.com/images/g/fikAAOSwX~dWpmDo/s-l225.jpg" alt="image from DB">
					</div>
					<div class="col-sm-8">
						<h3>Product_Name</h3>
						<p><strong>Price</strong></p><br/><br/>
						<button type="button" class="btn btn-default" style="color:white; background-color:#aaa">Add to Cart</button>
					</div>
				</div>
				<div class="row" style="padding-left:25px">
					<h3>Product Description</h3>
					<p>description</p>
					<h3>Product Details</h3>
					<p>details</p>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="panel-body" style="background-color:#333333;padding-left:40px">
				<div class="row">
					<div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
					<div class="col-sm-10" style="color:white"> About<br>Carriers</div>
				</div>
				<div style="color:white">
				<br/> &copy 2007-2016 TheBookShelf, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
				</div>
			</div>
		</div>
   </body>
</html>