
<!DOCTYPE html>
<html>
<head>
<title>Amazon Fresh SignUp</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
#panel {
	background-color: #f2f2f2;
	margin-top: 100px;
	margin-bottom: 75px;
	padding-left: 40px;
	padding-bottom: 70px
}
</style>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('Controller', function($scope, $http) {

		$scope.viewCart = function() {
			$http({
				method : "GET",
				url : '/viewCart',
				data : {}
			}).success(function(data) {
				/* $scope.book_name=data.product_details.book_name;
				$scope.book_author=data.product_details.book_author;
				$scope.book_cost=data.product_details.book_cost;
				$scope.book_quantity=1; */
				$scope.product_details = data.product_details;
				//  $scope.quantity=data.product_details.value.quantity;

			})

		}

		$scope.changeQuantity = function(product_details) {
			$http(
					{
						method : "POST",
						url : '/changeQuantity',
						data : {
							"product_details" : product_details,
							"quantity" : document
									.getElementById(product_details._rev).value
						}
					}).success(function(data) {

			})
		}
		
		$scope.removeFromCart = function(product_details) {

			$http({
				method : "POST",
				url : '/removeFromCart',
				data : {
					"product_details" : product_details
				}
			}).success(function(data){
				console.log("removed item from cart");
			})
			
		}

	})
</script>
</head>
<body ng-app="myApp" ng-controller="Controller" ng-init="viewCart()">
	<nav class="navbar navbar-default navbar-fixed-top"
		style="background-color: #484848; padding: 10px">
		<div class="row">
			<div class="col-sm-11">
				<div class="container-fluid" style="color: white">
					<a href=""><img
						src="http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743"
						alt="Amazon logo"> </a> Already an The book Shelf customer? <a
						href="#" style="color: white"><u>Sign in</u></a>
				</div>
			</div>
			<div class="col-sm-1" style="color: white">Dhiraj Gurnani</div>
		</div>
	</nav>


	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-1">
			<div class="dropdown" style="padding-left: 15px">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown" style="width: 130px">
					Shop <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#"><strong>History</strong><br>It all
							started here</a></li>
					<br>
					<li><a href="#"><strong>Romance</strong><br>All about
							love</a></li>
					<br>
					<li><a href="#"><strong>Suspence</strong><br>Secrets
							to be found</a></li>
					<br>
					<li><a href="#"><strong>Travel</strong><br>It could
							be your guide</a></li>
					<br>
					<li><a href="#"><strong>Others</strong><br>All stuff</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6">



			<div class="panel panel-default">
				<div class="panel-heading">

					<div class="dropdown" style="padding-left: 15px">
						<button class="btn btn-default dropdown-toggle" type="button"
							data-toggle="dropdown">
							All <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">All</a></li>
							<li><a href="#">Amazon.com items only</a></li>

						</ul>
						<input type="text" placeholder="Search Amazon Fresh"
							style="width: 850px" style="style="background-color:#464646">

						<button class="btn btn-default" placeholder="Search Amazon Fresh">go</button>
					</div>

				</div>
			</div>

		</div>
		<div class="col-sm-5"></div>
	</div>







	<br>
	<br>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-9"></div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-9">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Book Author</th>
						<th>Book Name</th>
						<th>Price</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in product_details">
						<td><img ng-src="images/{{user.value.book_image}}"
							height="120" width="120" /></img></td>
						<td><br>
						<br>{{user.value.book_author}}</td>
						<td><br>
						<br>{{user.value.book_name}}</td>
						<td><br>
						<br>{{user.value.book_cost}} $</td>
						<td><br>
						<br>
						<input type="number" ng-model="quantity" id="{{user.value._rev}}"
							value={{user.value.quantity}}
							ng-click="changeQuantity(user.value)"></input></td>
						<td><br>
						<br>
						<button ng-click="removeFromCart(user.value)">Remove</button>
					</tr>
				</tbody>
			</table>


		</div>
		<div class="col-sm-2"></div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	</div>

	<div class="row">
		<div class="panel-body"
			style="background-color: #333333; padding-left: 40px">
			<div class="row">
				<div class="col-sm-2" style="color: white">
					Help<br>Conditions of use<br>Privacy Policy
				</div>
				<div class="col-sm-10" style="color: white">
					About<br>Carriers
				</div>
			</div>
			<div style="color: white">
				<br /> &copy 2007-2016 The book Shelf, LLC or its affiliates All
				items sold by and ship from The book Shelf unless otherwise
				specified.<br />
				<br />
			</div>
		</div>
	</div>
</body>
</html>